:root {
  --page-background: #343541;
  --bio-background: rgba(248, 249, 250);
  --main-background: #ffffff;
  --content-background: #acacbe;
  --bio-text: #8e8ea0;
  --content-text: #343541;
  --header-text: #8e8ea0;
  --button-color: #acacbe;
  --button-hover: #343541;
}

[data-theme="dark"] {
  --page-background: #000;
  --bio-background: #121212;
  --main-background: #252525;
  --content-background: #2b2b2e;
  --bio-text: #fff;
  --content-text: #018786;
  --header-text: #8e8ea0;
  --button-color: #03dacf;
  --button-hover: #018786;
}

.bg-white {
  background-color: var(--main-background) !important;
}

.bg-light {
  background-color: var(--bio-background) !important;
}

.text-indent {
  margin-left: 1.5rem;
}

.bg-secondary {
  background-color: var(--page-background) !important;
}

.bg-dark {
  background-color: var(--dark-gray) !important;
}

.bg-body {
  background-color: var(--content-background) !important;
}

.btn-secondary {
  background-color: var(--button-color) !important;
}

.btn-secondary:hover {
  background-color: var(--button-hover) !important;
}

.text-primary {
  color: var(--bio-text) !important;
}

.text-secondary {
  color: var(--bio-text) !important;
}

.text-body {
  color: var(--content-text) !important;
}

.content-container {
  overflow: auto;
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
  height: 40rem !important;
}

.content-container::-webkit-scrollbar {
  display: none;
}
